# Bağımlılıklar
node_modules/
dist/
build/

# Gizli bilgiler
.env

# Log dosyaları
*.log
npm-debug.log*

# Editör dosyaları
.vscode/
.idea/
.DS_Store

# Dokümantasyon (local / frontend paylaşımı)
docs/

scripts/
